@tailwind base;
@tailwind components;
@tailwind utilities;

.card-style {
  background-image: url('/public/images/light-blue-spiral.jpeg');
  /* Cambia esto si el path es distinto */
  background-size: cover;
  background-position: center;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 2px 2px 0 #000;
  font-family: 'Arial Black', sans-serif;
  filter: 'sepia(1) hue-rotate(20deg) saturate(6) brightness(1.1)'
}